babel
bitmath
blinker
brotli
--no-binary=brotli
cachelib<0.10.0,>=0.9.0
certifi
cheroot~=8.4
click
filetype
flask
flask-babel~=1.0
flask-caching~=1.9
flask-compress
flask-session2~=1.3; python_version >= "3.7"
flask-themes2
itsdangerous
jaraco.collections
jaraco.functools
jinja2
js2py
markupsafe
more_itertools
pycurl
pyjsparser
pyload-ng
pytz
semver~=2.10
setuptools
werkzeug
