QPKG_NAME="gpt-engineer"
QPKG_VER="240202"
QPKG_AUTHOR="OneCD"
QPKG_RC_NUM="100"
QPKG_SERVICE_PROGRAM="gpt-engineer.sh"
QTS_MINI_VERSION="4.0.0"
QPKG_DISPLAY_NAME="gpt-engineer (CLI)"
QPKG_LICENSE="GPLV3"

# Select volume
# 1: support installation
# 2: support migration
# 3 (1+2): support both installation and migration
QPKG_VOLUME_SELECT="3"
